Catalog.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified">
  <xs:complexType name="CatalogCompanion">
    <xs:annotation>
      <xs:documentation>식탁보 프로그램에서 사용하는 보조 프로그램의 정보를 담는 요소입니다. 추후 사용을 위해 예약된 요소입니다.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Id" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>식탁보와 함께 사용되는 보조 프로그램을 식별하는 고유 문자열 아이디 값을 담는 속성입니다. 공백 없이 알파벳 문자, 아라비아 숫자 및 기호만 사용해야 합니다. 부모 요소를 기준으로 중복되는 값이 있으면 안됩니다.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="DisplayName" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>식탁보 프로그램에서 이 보조 프로그램의 한국어 이름을 담는 속성입니다.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Url" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>보조 프로그램을 사용할 수 있도록 설치하는 프로그램을 다운로드할 수 있는 URL을 담는 속성입니다. https:// 또는 http://로 시작해야 합니다.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Arguments" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>설치 프로그램을 실행할 때 지정할 명령줄 인수를 담는 속성입니다. 주로 무인 설치 (Unattend Install)를 유도하는 옵션을 이곳에 지정합니다.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="en-US-DisplayName" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>식탁보 프로그램에서 이 보조 프로그램의 영어 (미국 영어) 이름을 담는 속성입니다.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CatalogCompanionList">
    <xs:annotation>
      <xs:documentation>식탁보 프로그램에서 사용하는 보조 프로그램들의 정보들을 담는 컬렉션 요소입니다. 추후 사용을 위해 예약된 요소입니다.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Companion" type="CatalogCompanion" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CatalogPackageInformation">
    <xs:annotation>
      <xs:documentation>특정 인터넷 서비스에서 사용하는 플러그인 정보를 담는 요소입니다.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>플러그인을 구별하는 고유 이름을 담는 속성입니다. 공백 없이 알파벳 문자, 아라비아 숫자 및 기호만 사용해야 합니다. 부모 요소를 기준으로 중복되는 값이 있으면 안됩니다.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Url" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>플러그인 설치 프로그램을 다운로드할 수 있는 URL을 담는 속성입니다. https:// 또는 http://로 시작해야 합니다.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Arguments" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>플러그인 설치 프로그램을 실행할 때 지정할 명령줄 인수를 담는 속성입니다. 주로 무인 설치 (Unattend Install)를 유도하는 옵션을 이곳에 지정합니다.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CatalogPackageInformationList">
    <xs:annotation>
      <xs:documentation>특정 인터넷 서비스에서 사용하는 플러그인 정보들을 담는 컬렉션 요소입니다.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Package" type="CatalogPackageInformation" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CatalogEdgeExtensionInformation">
    <xs:annotation>
      <xs:documentation>특정 인터넷 서비스에서 사용하는 Microsoft Edge (Chromium) 플러그인 정보를 담는 요소입니다.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Microsoft Edge (Chromium) 익스텐션을 구별하는 고유 이름을 담는 속성입니다. 공백 없이 알파벳 문자, 아라비아 숫자 및 기호만 사용해야 합니다. 부모 요소를 기준으로 중복되는 값이 있으면 안됩니다.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="CrxUrl" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Microsoft Edge (Chromium) 익스텐션을 다운로드할 수 있는 URL을 지정합니다. https:// 로 시작하는 URL을 지정해야 합니다.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ExtensionId" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Microsoft Edge (Chromium) 익스텐션 패키지에 부여된 고유 아이디 값을 담는 속성입니다. 플러그인 스토어에 등록된 아이디 값이 주로 사용되며, 공백 없이 알파벳 문자, 아라비아 숫자 및 기호만 사용해야 합니다.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CatalogEdgeExtensionInformationList">
    <xs:annotation>
      <xs:documentation>특정 인터넷 서비스에서 사용하는 Microsoft Edge (Chromium) 플러그인 정보들을 담는 컬렉션 요소입니다.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="EdgeExtension" type="CatalogEdgeExtensionInformation" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CatalogInternetServiceCategory">
    <xs:annotation>
      <xs:documentation>해당 인터넷 사이트의 성격에 따라 부여한 카테고리 값입니다.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Other">
        <xs:annotation>
          <xs:documentation>기타 카테고리입니다.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Banking">
        <xs:annotation>
          <xs:documentation>인터넷 뱅킹 카테고리입니다.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Financing">
        <xs:annotation>
          <xs:documentation>대출/금융 카테고리입니다.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Security">
        <xs:annotation>
          <xs:documentation>증권/투자 카테고리입니다.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Insurance">
        <xs:annotation>
          <xs:documentation>보험 카테고리입니다.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CreditCard">
        <xs:annotation>
          <xs:documentation>신용 카드 카테고리입니다.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Government">
        <xs:annotation>
          <xs:documentation>공공 카테고리입니다.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Education">
        <xs:annotation>
          <xs:documentation>교육 카테고리입니다.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CatalogInternetService">
    <xs:annotation>
      <xs:documentation>개별 인터넷 사이트의 속성을 담는 요소입니다.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="CompatNotes" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>사용자가 알아야 할 호환성 관련 정보를 한국어로 기재하는 요소입니다. 자유롭게 기재 가능한 텍스트 요소입니다.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SearchKeywords" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>검색 기능을 이용할 때 인덱싱 힌트로 사용할 키워드들을 기재하는 요소입니다. 세미콜론을 사용하여 키워드들을 구분합니다.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomBootstrap" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>해당 인터넷 서비스를 사용하기 앞서 전처리가 필요한 사이트의 경우 이 요소 안에 PowerShell 스크립트를 추가할 수 있습니다.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Packages" type="CatalogPackageInformationList" minOccurs="0">
        <xs:annotation>
          <xs:documentation>특정 인터넷 서비스에서 사용하는 플러그인 정보들을 담는 컬렉션 요소입니다.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EdgeExtensions" type="CatalogEdgeExtensionInformationList" minOccurs="0">
        <xs:annotation>
          <xs:documentation>특정 인터넷 서비스에서 사용하는 Microsoft Edge (Chromium) 플러그인 정보들을 담는 컬렉션 요소입니다.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="en-US-CompatNotes" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>사용자가 알아야 할 호환성 관련 정보를 미국 영어로 기재하는 요소입니다. 자유롭게 기재 가능한 텍스트 요소입니다.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
    <xs:attribute name="Id" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>개별 인터넷 사이트를 구별하는 고유 이름을 담는 속성입니다. 공백 없이 알파벳 문자, 아라비아 숫자 및 기호만 사용해야 합니다. 부모 요소를 기준으로 중복되는 값이 있으면 안됩니다.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="DisplayName" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>개별 인터넷 사이트의 한국어 이름을 담는 속성입니다.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Category" type="CatalogInternetServiceCategory" use="required">
      <xs:annotation>
        <xs:documentation>개별 인터넷 사이트의 카테고리를 담는 속성입니다.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Url" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>개별 인터넷 사이트의 홈페이지 또는 로그인 페이지 주소를 담는 속성입니다. http:// 또는 https:// 로 시작되는 URL을 지정해야 합니다.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="en-US-DisplayName" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>개별 인터넷 사이트의 영어 (미국 영어) 이름을 담는 속성입니다.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CatalogInternetServiceList">
    <xs:annotation>
      <xs:documentation>개별 인터넷 사이트들의 정보를 담는 컬렉션 요소입니다.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Service" type="CatalogInternetService" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CatalogDocument">
    <xs:annotation>
      <xs:documentation>식탁보 애플리케이션을 위한 전체 카탈로그를 나타내는 요소입니다.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="Companions" type="CatalogCompanionList" minOccurs="0" />
      <xs:element name="InternetServices" type="CatalogInternetServiceList" minOccurs="0" />
    </xs:all>
    <xs:attribute name="Fallback" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>카탈로그의 기본 표시 언어를 지정합니다. ISO 코드 형식에 맞는 로케일 값을 지정해야 합니다. (예: ko-KR, en-US)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:element name="TableClothCatalog" type="CatalogDocument">
    <xs:annotation>
      <xs:documentation>식탁보 애플리케이션을 위한 전체 카탈로그를 나타내는 요소입니다.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>